In [3]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
from config import api_key
c = Census(api_key, year=2018)

In [4]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E", "B23025_005E",
                          "B17001_002E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})
# try:
#     # Add in Poverty Rate (Poverty Count / Population)
#     census_pd["Poverty Rate"] = 100 * \
#         census_pd["Poverty Count"].astype(
#             int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
                    "Per Capita Income", "Poverty Count", "Unemployment"]]

# Visualize
print(len(census_pd))

33120

In [5]:
census_pd.tail(50)

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Unemployment
33070,99835,8738.0,38.8,71534.0,38423.0,639.0,216.0
33071,99836,97.0,40.1,69375.0,24227.0,9.0,3.0
33072,99840,1061.0,38.5,72237.0,39842.0,56.0,51.0
33073,99841,155.0,57.8,55833.0,31441.0,6.0,0.0
33074,99901,13818.0,39.7,70356.0,34886.0,1441.0,499.0
33075,99903,0.0,-666666666.0,-666666666.0,-666666666.0,0.0,0.0
33076,99918,148.0,57.3,55500.0,38053.0,0.0,4.0
33077,99919,689.0,51.9,51875.0,30354.0,52.0,21.0
33078,99921,1986.0,41.4,58571.0,34414.0,286.0,67.0
33079,99922,330.0,39.5,34028.0,18213.0,129.0,11.0
33080,99923,15.0,-666666666.0,-666666666.0,NaN,0.0,0.0
33081,99925,927.0,43.6,57375.0,25840.0,172.0,89.0
33082,99926,1635.0,34.5,53409.0,22453.0,235.0,138.0
33083,99927,38.0,55.5,-666666666.0,13658.0,28.0,0.0
33084,99929,2484.0,49.5,57583.0,31489.0,192.0,67.0
33085,87533,133.0,25.8,NaN,NaN,NaN,NaN
33086,87012,255.0,47.5,NaN,NaN,NaN,NaN
33087,87064,84.0,57.7,NaN,NaN,NaN,NaN
33088,87046,162.0,38.1,NaN,NaN,NaN,NaN
33089,87548,1341.0,37.8,NaN,NaN,NaN,NaN
33090,87575,775.0,48.6,NaN,NaN,NaN,NaN
33091,87530,1110.0,41.5,NaN,NaN,NaN,NaN
33092,87577,385.0,57.0,NaN,NaN,NaN,NaN
33093,87527,761.0,30.6,NaN,NaN,NaN,NaN
33094,87549,518.0,41.9,NaN,NaN,NaN,NaN
33095,87551,297.0,66.4,NaN,NaN,NaN,NaN
33096,87516,102.0,40.8,NaN,NaN,NaN,NaN
33097,87522,2637.0,39.1,NaN,NaN,NaN,NaN
33098,87510,738.0,43.8,NaN,NaN,NaN,NaN
33099,87539,22.0,-666666666.0,NaN,NaN,NaN,NaN
33100,87554,0.0,-666666666.0,NaN,NaN,NaN,NaN
33101,87566,3612.0,34.6,NaN,NaN,NaN,NaN
33102,87419,365.0,52.9,NaN,NaN,NaN,NaN
33103,87520,1237.0,56.1,NaN,NaN,NaN,NaN
33104,87412,746.0,47.5,NaN,NaN,NaN,NaN
33105,87013,5350.0,36.5,NaN,NaN,NaN,NaN
33106,87581,32.0,-666666666.0,NaN,NaN,NaN,NaN
33107,87029,260.0,42.0,NaN,NaN,NaN,NaN
33108,87017,346.0,50.9,NaN,NaN,NaN,NaN
33109,87582,460.0,55.3,NaN,NaN,NaN,NaN
33110,87531,510.0,61.4,NaN,NaN,NaN,NaN
33111,87521,835.0,48.5,NaN,NaN,NaN,NaN
33112,87537,2510.0,42.1,NaN,NaN,NaN,NaN
33113,87528,3505.0,27.9,NaN,NaN,NaN,NaN
33114,87523,759.0,45.7,NaN,NaN,NaN,NaN
33115,87515,363.0,44.2,NaN,NaN,NaN,NaN
33116,87518,9.0,-666666666.0,NaN,NaN,NaN,NaN
33117,87511,2896.0,36.0,NaN,NaN,NaN,NaN
33118,87578,245.0,48.0,NaN,NaN,NaN,NaN
33119,87532,18756.0,39.3,NaN,NaN,NaN,NaN

In [6]:
cleaned_census =census_pd.loc[(census_pd["Median Age"] != -666666666.0) &
                              (census_pd["Household Income"] != -666666666.0) &
                              (census_pd["Per Capita Income"] != -666666666.0) &
                              (census_pd["Poverty Count"] != -666666666.0) &
                              (census_pd["Unemployment"] != -666666666.0)]

In [7]:
cleaned_census = cleaned_census.dropna()
cleaned_census =cleaned_census.reset_index()
cleaned_census = cleaned_census.drop(["index"], axis=1)

In [8]:
# Save as a csv
# Note to avoid any issues later, use en                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           coding="utf-8"
cleaned_census.to_csv("census_data.csv", encoding="utf-8", index=False)

In [9]:
px_df = pd.read_csv("px_coord.csv")

In [10]:
zipcode_df = px_df[["ZIP"]]
zipcode_df = zipcode_df.rename(columns={"ZIP": "Zipcode"})
zipcode_df.head()

   Zipcode
0    91210
1    30096
2    94965
3    85042
4    94530

In [11]:
cleaned_census['Zipcode'] = cleaned_census['Zipcode'].astype("int64")
cleaned_census

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Unemployment
0,601,17242.0,40.5,13092.0,6999.0,10772.0,2316.0
1,602,38442.0,42.3,16358.0,9277.0,19611.0,1927.0
2,603,48814.0,41.1,16603.0,11307.0,24337.0,3124.0
3,606,6437.0,43.3,12832.0,5943.0,4163.0,230.0
4,610,27073.0,42.1,19309.0,10220.0,11724.0,1290.0
...,...,...,...,...,...,...,...
30883,99921,1986.0,41.4,58571.0,34414.0,286.0,67.0
30884,99922,330.0,39.5,34028.0,18213.0,129.0,11.0
30885,99925,927.0,43.6,57375.0,25840.0,172.0,89.0
30886,99926,1635.0,34.5,53409.0,22453.0,235.0,138.0
30887,99929,2484.0,49.5,57583.0,31489.0,192.0,67.0

In [12]:
cleaned_census

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Unemployment
0,601,17242.0,40.5,13092.0,6999.0,10772.0,2316.0
1,602,38442.0,42.3,16358.0,9277.0,19611.0,1927.0
2,603,48814.0,41.1,16603.0,11307.0,24337.0,3124.0
3,606,6437.0,43.3,12832.0,5943.0,4163.0,230.0
4,610,27073.0,42.1,19309.0,10220.0,11724.0,1290.0
...,...,...,...,...,...,...,...
30883,99921,1986.0,41.4,58571.0,34414.0,286.0,67.0
30884,99922,330.0,39.5,34028.0,18213.0,129.0,11.0
30885,99925,927.0,43.6,57375.0,25840.0,172.0,89.0
30886,99926,1635.0,34.5,53409.0,22453.0,235.0,138.0
30887,99929,2484.0,49.5,57583.0,31489.0,192.0,67.0

In [13]:
merged_df = pd.merge(left=zipcode_df, right=cleaned_census, on="Zipcode")

In [14]:
merged_df

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Unemployment
0,91210,689.0,35.2,159500.0,93135.0,188.0,21.0
1,91210,689.0,35.2,159500.0,93135.0,188.0,21.0
2,30096,67959.0,35.1,53514.0,28011.0,8901.0,1677.0
3,94965,11408.0,51.1,103424.0,83637.0,1197.0,243.0
4,85042,46570.0,32.1,53824.0,23442.0,8510.0,1880.0
...,...,...,...,...,...,...,...
2092,75206,38375.0,31.4,67500.0,53334.0,5216.0,724.0
2093,91307,26595.0,45.0,116803.0,48443.0,1248.0,763.0
2094,75104,49341.0,34.3,70975.0,28161.0,5208.0,1630.0
2095,94591,55334.0,40.1,80888.0,34621.0,5127.0,2581.0
2096,78726,13867.0,32.0,77935.0,48434.0,624.0,210.0

In [15]:
merged_df["Unemployment"] = (merged_df["Unemployment"] / merged_df["Population"]) * 100

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Unemployment
0,91210,689.0,35.2,159500.0,93135.0,188.0,3.047896
1,91210,689.0,35.2,159500.0,93135.0,188.0,3.047896
2,30096,67959.0,35.1,53514.0,28011.0,8901.0,2.467664
3,94965,11408.0,51.1,103424.0,83637.0,1197.0,2.130084
4,85042,46570.0,32.1,53824.0,23442.0,8510.0,4.036934
...,...,...,...,...,...,...,...
2092,75206,38375.0,31.4,67500.0,53334.0,5216.0,1.886645
2093,91307,26595.0,45.0,116803.0,48443.0,1248.0,2.868960
2094,75104,49341.0,34.3,70975.0,28161.0,5208.0,3.303541
2095,94591,55334.0,40.1,80888.0,34621.0,5127.0,4.664402
2096,78726,13867.0,32.0,77935.0,48434.0,624.0,1.514387

In [18]:
merged_df.to_csv("Census_PX_merged.csv", index = False)